html {
    --track-style: 2px solid #66a800;
    --ball-dimensions: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    background: #1d1d1d;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
    margin: auto;
}

.square {
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
    /*outline: 1px solid #333;*/
}

.switch {
    background: rgba(9, 0, 219, 0.5);
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
    background: #ddd;
    border-radius: 100%;
}

.hole {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0;
}

.track {
    position: relative;
}

.track:before {
    content: "";
    position: absolute;
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
    top: 0;
    left: 0;
}

.vertical:before {
    border-left: var(--track-style);
    border-right: var(--track-style);
}

.horizontal:before {
    border-top: var(--track-style);
    border-bottom: var(--track-style);
}

.top-and-left:before {
    border-top: 0;
    border-bottom: var(--track-style);
    border-left: 0;
    border-right: var(--track-style);
}

.top-and-right:before {
    border-top: 0;
    border-bottom: var(--track-style);
    border-left: var(--track-style);
    border-right: 0;
}
