@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

html {
    --track-style: 2px solid #66a800;
    --ball-dimensions: 50px;
    --board-width: 9;
    --board-height: 9;
}

body {
    min-height: 80vh;
    background: #1d1d1d url('https://static.wixstatic.com/media/7bfa82_9a569bde173e4ce597d7bba5f33e364a~mv2.png/v1/fill/w_378,h_500,al_c,q_85/7bfa82_9a569bde173e4ce597d7bba5f33e364a~mv2.webp') no-repeat fixed center;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: calc(var(--ball-dimensions) * var(--board-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

main {
    background-color: #08184a;
    display: flex;
    flex-wrap: wrap;
    height: calc(var(--ball-dimensions) * var(--board-height));
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin: 20px auto;

}

.square {
    /*outline: 1.5px solid #111;*/
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
}

.switch {
    background-color: #ff0000;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    width:  30px;
    height: 30px;
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
    background: #ddd;
    border-radius: 100%;
}

.hole {
    opacity: 0.6;
    border-radius: 0;
}

.track {
    content: '';
    position: relative;
    width: var(--ball-dimensions);
    height: var(--ball-dimensions);
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.vertical {
    border-left: var(--track-style);
    border-right: var(--track-style);
}

.horizontal {
    border-top: var(--track-style);
    border-bottom: var(--track-style);
}

.top-and-left {
    border-top: 0;
    border-bottom: var(--track-style);
    border-left: 0;
    border-right: var(--track-style);
}

.top-and-right {
    border-top: 0;
    border-bottom: var(--track-style);
    border-left: var(--track-style);
    border-right: 0;
}

.color0 {
    background-color: #3b6e0b;

}

.color1 {
    background-color: #3e2de2;
}

.color2 {
    background-color: #f5f520;
}

.color3 {
    background-color: #f80421;
}

#gameContent {
    height: 25px;
    display: flex;
    margin: 15px 0;
}

#Scoreboard {
    text-align: center;
    line-height: 25px;
    color: #dddddd;
    background-color: #5656ae;
    opacity: 0.6;
    width: 80px;
    height: 100%;
    margin: auto 0 20px auto ;
}

progress {
    appearance: none;
    width: 100px;
    height: 70%;
}

progress::-webkit-progress-bar {
    background-color: #08184a;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    background-color: #217b96;
    border-radius: 7px;
}
progress::-moz-progress-bar {
    /* style rules */
    background-color: #08184a;
    border-radius: 4px;
}

progress.dangerZone::-webkit-progress-value{
    background-color: #be1010;
}

#Endgame, #NextLevel{
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Endgame.Hidden, #NextLevel.Hidden{
    display: none;
}

#Endgame div{
    text-align: center;
    font-size: 30px;
    margin:auto;
}

#Endgame {
    background: rgba(186, 51, 137, 0.7);
}

#NextLevel {
    background: rgba(88, 19, 129, 0.7);

}